@font-face {
	font-family: Bahnschrift;
	src: url(../font/Bahnschrift.ttf);
	src: url(../font/Bahnschrift.otf);
	src: url(../font/Bahnschrift.woff);
}

body {
    background-color: gray;
    margin: 0;
    font-family: bahnschrift;
}

#bg-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url("img/day.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transform: translateZ(0);
}

/*
 * Navigation Bar
 */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(200, 220, 255);
    color: rgb(0, 100, 200);
    font: 35px Arial, sans-serif;
    z-index: 100;
    font-family: bahnschrift;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.nav-container {
    width: 1000px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-right {
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#profile { display: none; }
#g_id_onload { display: none; }

/*
 * Search row
 */

.nav-bottom {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#searchInput {
    width: 100%;
    padding: 12px 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

main { padding-top: 140px; }

/*
 * Search bar
 */

/* .search-bar {
    text-align: center;
    margin: 20px 0;
} */

#searchInput {
    margin: auto;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/*
 * Gallery UI
 */

.gallery {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.03);
}

/*
 * Upload Overlay
 */

 #fileInput { display: none; }

.uploadOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.uploadOverlay-content {
    position: relative;
    background: #222;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


.galleryOverlay-info .tag {
    display: inline-block;
    margin: 4px;
    padding: 4px 8px;
    background: #444;
    border-radius: 5px;
    font-size: 14px;
}

.uploadOverlay .upload-close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/*
 * Gallery Overlay
 */

.galleryOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.galleryOverlay-content {
    position: relative;
    background: #222;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.galleryOverlay img {
    max-width: 90%;
    max-height: 70vh;
    border: red 2px;
}

.galleryOverlay-info {
    text-align: center;
}

.galleryOverlay-info h2 {
    margin: 10px 0;
}

.galleryOverlay-info .tag {
    display: inline-block;
    margin: 4px;
    padding: 4px 8px;
    background: #444;
    border-radius: 5px;
    font-size: 14px;
}

.galleryOverlay .gallery-close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}